@import url("global.css");

main{
    display: flex;
    justify-content: center;
    margin-top: 140px;
}
.main-content{
    background-color: var(--form-bg-color);
    border-radius: 8px;
    margin: 16px;
    padding: 24px;
}
.main-content h3{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin: 10px 0 40px;
}
.main-content p{
    text-align: center;
    margin-bottom: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.form input{
    border-radius: 8px;
    border: var(--form-field-border);
    background: var(--form-field-bg-color);
    padding: 16px;
    width: 100%;
    font-size: 1rem;
}
.form input::placeholder{
    color: var(--form-field-placeholder);
}
.login-button{
     align-self: flex-start;
    display: flex;
    flex-direction: column;
     gap: 20px; 
    margin-top: 10px; 
}
.login-button a{
    color: var(--link-color);
    font-weight: 600;
}